<?xml version="1.0"?>
<module
	schemaLocation="http://schemas.epp-drs.com/2008-03-10/registry-module-manifest.xsd"
	name="afilias" 
	description="Afilias .INFO EPP" 
	version="v3">
	<registry_options>
		<host_objects>
			<is_managed>1</is_managed>
			<update_all_ns>0</update_all_ns>
			<max_ns>0</max_ns>
		</host_objects>

		<ability>		
			<contact_removal>1</contact_removal>
			<change_domain_contact>1</change_domain_contact>	
			<change_domain_authcode>1</change_domain_authcode>	
			<change_registrar_password>0</change_registrar_password>		
			<domain_lock>1</domain_lock>
			<poll_messages>0</poll_messages>
			<recall_application>0</recall_application>
			<auto_renewal>0</auto_renewal>
			<scheduled_delete>0</scheduled_delete>
			<trade>0</trade>
			<update_contact>1</update_contact>
		</ability>

		<registrar_contacts />

		<allowed_domain_flags>
			<flag iseditable="1" sysname="clientHold" name="Client Hold">DNS delegation information MUST NOT be published for the object.</flag>
			<flag iseditable="1" sysname="clientUpdateProhibited" name="Client Update Prohibited">Requests to update the object (other than to remove this status) MUST be rejected.</flag>
			<flag iseditable="1" sysname="clientDeleteProhibited" name="Client Delete Prohibited">Requests to delete the object MUST be rejected</flag>					
		</allowed_domain_flags>
	</registry_options>

	<section tlds="info" name="all">
		<config>
			<idn punycode_encode="1" />
			<domain>
				
			
				<registration>
					<min_period>1</min_period>
					<max_period>10</max_period>
					<min_ns>2</min_ns>
					<max_ns>0</max_ns>
					<extra_fields>
						<field description="IDN language script" type="select" name="idn-script" required="0">
							<!--  see http://www.info.info/info/idn -->
							<values>
								<value value="DA" name="Danish" />
								<value value="DE" name="German"/>
								<value value="HU" name="Hungarian"/>
								<value value="IS" name="Icelandic"/>
								<value value="KO" name="Korean"/>
								<value value="LT" name="Lithuanian"/>
								<value value="LV" name="Latvian"/>
								<value value="PL" name="Polish"/>
								<value value="SV" name="Swedish"/>
								<value value="ES" name="Spanish "/>
							</values>
						</field>
						<field description="Trademark name" name="info-tm-name" required="0" minlength="2" maxlength="80" type="text" />
						<field description="Trademark country" name="info-tm-country" required="0" minlength="2" maxlength="2" type="select">
							<database table="countries" value_field="code" name_field="name" />
						</field>
						<field description="Registration number" name="info-tm-number" required="0" minlength="2" maxlength="80" type="text" />
						<field description="Registration date" name="info-tm-date" required="0" type="text" />
					</extra_fields>
				</registration>
				
				<renewal>
					<allow>1</allow>
					<min_period>1</min_period>
					<max_period>10</max_period>
					<notifications>
						<period>60</period>
						<period>30</period>
						<period>20</period>
						<period>10</period>
						<period>5</period>
					</notifications>
					<min_days>365</min_days>
				</renewal>
			
				<transfer>
					<pending_status>pendingTransfer</pending_status>
					<allow>1</allow>
					<allow_bulk_transfer>1</allow_bulk_transfer>
					<timeout>14</timeout>
					<fields>
						<field description="Password" name="pw" minlength="2" maxlength="255" required="1" type="text"></field>
					</fields>
					<contacts>
						<contact required="0" type="registrant" />
						<contact required="0" type="tech" />
						<contact required="0" type="billing" />
						<contact required="0" type="admin" />
					</contacts>
					<update_contacts>1</update_contacts>
				</transfer>
				
				<allowed_domain_flags />
			</domain>

			<contact_groups>
				<group name="generic" title="Generic (Any)" apply-to-section="1">
					<fields>
						<field iseditable="1" description="Name" type="text" name="name" required="1" minlength="3" maxlength="255" />
						<field iseditable="1" description="Organization" type="text" name="org" required="0" minlength="3" maxlength="255" />
						<field iseditable="1" description="Address 1" type="text" name="street1" required="1" minlength="3" maxlength="255" />
						<field iseditable="1" description="Address 2" type="text" name="street2" required="0" minlength="3" maxlength="255" />
						<field iseditable="1" description="Postal code" type="text" name="pc" required="1" minlength="2" maxlength="16" pattern="/^[A-Za-z0-9\s-]+$/" />
						<field iseditable="1" description="City" type="text" name="city" required="1" minlength="2" maxlength="255" />
						<field iseditable="1" description="State" type="text" name="sp" required="0" minlength="2" maxlength="255"></field>												
						<field iseditable="1" description="Country" type="select" name="cc" required="1" minlength="2" maxlength="2" pattern="/^[A-Za-z]{2}$/">
							<database table="countries" value_field="code" name_field="name" />
						</field>
						<field iseditable="1" description="Email" type="text" name="email" required="1" minlength="2" maxlength="255" pattern="/^[a-zA-Z0-9_\.\-]+@[a-zA-Z0-9\-]+\.[a-zA-Z0-9\-\.]+$/" />						
						<field iseditable="1" description="Phone" type="phone" name="voice" required="1" />
						<field iseditable="1" description="Fax" type="phone" name="fax" required="0" />
					</fields>
				
					<disclose>
                       <option name="name" description="Name" />
                       <option name="org" description="Organization" />
                       <option name="addr" description="Address" />
                       <option name="voice" description="Phone" />
                       <option name="fax" description="Fax" />
                       <option name="email" description="Email" />					
					</disclose>
					
					<display_fields>
						<name>
							<field name="name" />
						</name>
						<email>
							<field name="email" />
						</email>
					</display_fields>

				</group>
			</contact_groups>

			<contacts>
				<contact required="1" group="generic" type="registrant" name="Registrant" new_id="%d8" />
				<contact required="1" group="generic" type="tech" name="Technical" new_id="%d8"></contact>
				<contact required="1" group="generic" type="billing" name="Billing" new_id="%d8"></contact>
				<contact required="1" group="generic" type="admin" name="Admin" new_id="%d8"></contact>
			</contacts>
		</config>
	</section>
</module>
