
body 	{ background: none; }

.tab, .tabPage, .tabActive, .tab_a	{width: 65px; background-image: url(../images/tab.gif); text-align: center; vertical-align: middle;
						float: left; margin-left: 1px; padding-top: 4px; padding-bottom: 3px;}
.tabActive, .tabPage	{ width: 30px; background-image: url(../images/tabPage.gif); }
.tabActive				{ background-image: url(../images/tabPage_a.gif); font-weight: bold; }
.tab_a					{ background: url(../images/tab_a.gif) no-repeat; width: 65px; font-weight: bold; }
div.paging				{ text-align: right; float: right;}
div.separator			{ padding: 0; margin: 7px 0 0 0; border-top: 1px dashed #A2BBDD; height: 1px; font-size: 1px;}
div.BigSeparator		{ padding: 5px 0 5px 0; margin: 0; border-bottom: 1px dashed #A2BBDD; font-size: 11px; font-weight: bold; }
tr.Separator td			{ padding: 0; font-size: 1px;}

/* New Tabs */
.Tab-Center, .Tab-Center-Active, .Tab-Center-Right	{ background: url(../images/tab_center.gif) no-repeat top right; 
				text-align: center; float: left; vertical-align: middle; padding: 4px 24px 3px 0; white-space: nowrap; }
.Tab-Right, .Tab-Right-Active	{ background: url(../images/tab_right.gif) no-repeat top right; 
				text-align: center; float: left; vertical-align: middle; padding: 4px 12px 3px 0; white-space: nowrap; }
.Tab-Left, .Tab-Left-Active		{ background: url(../images/tab_left.gif) no-repeat top right; 
				text-align: center; float: left; vertical-align: middle; padding: 4px 12px 3px 0; white-space: nowrap; }

.Tab-Center-Right	{ background-image: url(../images/tab_center.gif); }
.Tab-Center-Active	{ background-image: url(../images/tab_center.gif); font-weight: bold; }
.Tab-Right-Active	{ background-image: url(../images/tab_right.gif); font-weight: bold; }
.Tab-Left-Active	{ background-image: url(../images/tab_left.gif); font-weight: bold; }


/* --------------------------- NEW STYLES ---------------------------------------------------------------------------------------------------*/
.Webta_Items 		{ border: none; background-color: #FFFFFF; border-collapse:collapse; }
.Webta_Items thead	{ border: none; background-color: #C3D9FF; }
.Webta_Items thead th, .Webta_Items thead td
					{ border: none; font-weight: normal; text-align: left; padding: 0 5px 0 3px; font-size:14px; }
.Webta_Items thead td 
					{ text-align: center; }
.Webta_Items tbody	{ background-color: #FFFFFF; border: 1px solid #A2BBDD; } 
.Webta_Items tbody td { padding: 1px 5px 1px 5px; font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif; color: #000000; border-bottom: 1px dashed #DDDDDD; font-size:14px; }
.Webta_Items tbody td.Item	{ }




.mg					{ font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif; padding-right: 3px; font-size: 13px; font-weight: bold; }
.WebtaTable_Footer 	{ background-color: #E8EEF7; border-color:#a2bbdd #fff #fff #a2bbdd; border-style: solid; border-width: 1px; color: #446688;}

.Webta_Message		{ background-color: #FFC; border:1px dashed #DDD; color: #446688; padding: 1px; padding-left: 5px; margin: 8px 0 5px 0; }

.Webta_WarnMsg, #Webta_WarnMsg
{ 
    background: url(../images/icon_warn.gif) no-repeat 7px 7px; 
    background-color: #fffaaa; 
    border:1px solid #e07112; 
    color: #cf650e; 
    padding: 4px; 
    padding-left: 35px; 
    padding-bottom:4px; 
    margin: 8px 0 5px 0; 
    font-size:16px; 
    line-height:18px;
}
.Webta_InfoMsg		
{
	background: url(../images/icon_ihelp.gif) no-repeat 7px 12px;
	padding:10px;
	background-color:#FFFFE1;
	border:1px solid #CCCCCC;
	margin: 7px 0 5px 0; 
	padding-left: 35px;
}

.Webta_OkMsg		
{ 
    background: url(../images/icon_ok.gif) no-repeat 5px 3px; 
    background-color: #E2F9E3; 
    border:1px solid #99CC99; 
    color: #3F7D00; 
    padding: 4px; 
    padding-left: 35px; 
    padding-bottom:4px; 
    margin: 8px 0 5px 0; 
    font-size:16px; 
    line-height:18px;
}
.Webta_ErrMsg		{ background: url(../images/icon_err.gif) no-repeat 5px 2px; background-color: #FFE3D9; border:1px solid #E63512; color: #CB3216; padding: 4px; padding-left: 35px; padding-bottom:4px; margin: 8px 0 5px 0; font-size:16px; line-height:18px;}

.Webta_Ihelp		
{
	background: url(../images/icon_shelp.gif) no-repeat 4px 3px;
	padding: 0px 3px 0px 19px;
	background-color:#FFFFE1;
	border:1px solid #CCCCCC;
	margin: 0px;
}

.ItemDelete,.ItemEdit { background-color: #E8EEF7; border-color:#a2bbdd #fff #fff #a2bbdd; border-style: none solid dashed; border-width: 1px; color: #446688;}
.ItemEdit			{ border-color:#a2bbdd #a2bbdd #fff #a2bbdd;}


.Header				{ background-color: #C3D9FF; }
.Part, .PartTop		{ background-color: #C3D9FF; position: relative; z-index: 2; }
.PartTop			{ padding-top: 0; }
.Settings td		{ background-color: #FAFAFF; padding-left: 20px; }
.TopMenu			{ overflow: hidden; height: 20px; }
td.Offset			{ padding: 0px; font-size: 1px; height: 1px; }
.Inner, .Inner_Blue	{ background-color: #C3D9FF; }
.Inner_Gray			{ background-color: #F4F4F4; }

.Inner table th, .Inner_Gray table th, .Inner_Blue table th		{text-align: left; font-weight: normal; font-size:14px;}
.SettingsHeader, .SettingsHeader_Blue, .SettingsHeader_Gray		{cursor: pointer; height: 23px; padding-top: 2px;}
.SettingsHeader_Gray	{background: url(../images/grey-bg.gif) repeat-x bottom; }

div.Wizard						{ background-color: #E8EEF7; padding: 10px; }

select.Wizard	{ background-color: #f4f4f4; width: 205px; padding: 0; margin: 0; width: expression('212px'); font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif; }

select.phone-field { margin-top:3px; }

table.Webta_Search_Wizard label { line-height: 1.5em}


div.hr {
	height: 1px;
	overflow: hidden;
	text-align: center;
	padding: 10px;
}

div.hr div {
	border-top: 1px solid #ccc;
	width: 88%;
}

td.RightBorder {
	border-right: 1px solid #ccc;
}

.IndexMenu .MenuSep { display:none; }

.Ticket-Messages td {
	padding-top: 10px;
	line-height: 1.5em;
}

.Ticket-MessageTitle {
	padding: 6px 0 7px 0;
	color: #f00;
	font-weight: bold;
}

.Ticket-MessageTitle strong {
	color: #000;
}

.Tickets-MessageSeparator {
	height: 1px;
	overflow: hidden;
	background-color: #fff;
}

.Tickets-MessageBlock {
	background-color: #E8EEF7;
	border: 1px solid #ccf;
	padding: 6px;
}

.Light {
	background-color: #E8F7EE;
}

.Ticket-MessageTitle a:link, .Ticket-MessageTitle a:active, .Ticket-MessageTitle a:visited, .Ticket-MessageTitle a:hover {
	font-weight: normal;
}

#title_td { padding-left: 1em; }

.scrolled {
	max-height: 187px;
	height: expression((this.offsetHeight >= 187 ) ? '187px' : 'auto');
	overflow: auto;
	overflow-x: hidden;
	border: 1px solid #ddd;
	padding: 4px 12px;
}

.scrolled label {
	margin-bottom: 3px;
	display: block;
}


.Hover {
	background-color: #FFFFCC;
}
.Selected {
	background-color: #C3D9FF !important;
}

.contactchoise .filter-wrapper .text {
	width:100px;
}

.error_hint
{
	margin:2px; 
	padding:5px; 
	background-color: red; 
	border:1px solid red; 
	color:white;
}

.ok_hint
{
	margin:2px; 
	padding:5px; 
	background-color: green; 
	border:1px solid green; 
	color:white;
}

.domain_row_container {
	border-bottom:1px dotted #CCCCCC;
	font-family:Verdana;
	font-size:14px;
	margin-left:0;
	margin-right:0;
}

.disabled {
	color:gray;
}